.layout{
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    justify-content: space-between;
    gap: 2rem;
    justify-content: flex-start;
}
.cardsFeed{
display: grid;
grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "pic desc desc"
    "pic desc desc"; 
}
.cardsFeedPic{
grid-area: 'pic';
}
.cardsFeedDesc{
grid-area: '';
}
.cardsFeedTitle{

}