@import '../mixins.scss';
.box {
  width: 100%;
  max-width: 980px;
  height: 100px !important;
  background: white;
  /*   background: $white; */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
}
.boxs {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > div {
    height: 3rem !important;
    width: 100% !important;
    label {
      top: 5px;
    }
    & > div {
      height: 100%;
    }
  }
}
