@import '../mixins.scss';
.wrapper {
  background: $blue;
  width: 100vw;
  height: 100vh;
  @include maxWidth(650px) {
    height: fit-content;
  }
}
.addMemo {
  @include mainButton;
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 100px;
  height: 100px;
  background: $white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  z-index: 400;
  img {
    width: 4rem;
  }
}
