@import '../mixins.scss';
.modalContainer{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.294);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000000;
}

.modal{
width: 100%;
max-width: 700px;
height: 100%;
max-height: 500px;
background: $white;
border-radius: 1rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;

}

.button{
    @include mainButton;
    width: 60%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    img{
        width: 1.5rem;
        color: $white;
        filter: brightness(0) invert(1);
    }
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}

.buttons{
    display: flex;
    align-self: flex-end;
    margin-right: -2%;
    width: 50%;
    gap: 1.5rem;
    button{
        &:first-child{
            @include mainButton;
            background: red;
        }
        &:last-child{
            @include mainButton;
            background: $main-green;
            color: $blue;
        }
           
        
    }
}
.title{
    align-self: flex-start;
    margin-left: 10%;
    font-size: 1.5rem;
    font-weight: 700;
}